body,html{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(238, 241, 241);
}
.container {
    background-color: rgb(238, 241, 241);
    padding: 40px;
}
.header-title{
    background-color: white;
    padding: 0%;
}
.title {
    background-color: white;
    text-align: center;
    height: 100px;
    width: 100%;
}
.carta {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;   
}